$background: rgb(25, 25, 25);
$navbar: rgb(20, 20, 20, 0.95);

$primary: rgb(20, 20, 20);
$secondary: rgb(184, 15, 10);
$tertiary: rgb(255, 220, 0);

$bad: rgb(240, 15, 10);
$good: $tertiary;

$text-light: rgb(220, 220, 220);
$text-dark: rgb(10, 10, 10);

$text: $text-light;
$button: $secondary;
