.field {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $field-base-color;
    border: 1px solid $map-border-color;
}

.active {
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: darken($field-base-color, 10);
    }
}

.empty,
.mine,
.number {
    background-color: $field-revealed-color;
}

.mine {
    background-image: url(../assets/mine.png);

    &.clicked {
        background-color: $clicked-mine-color;
    }
}

@for $i from 1 through 8 {
    .number-#{$i} {
        @extend .number;
        color: nth($number-colors, $i);
    }
}

.flag {
    background-image: url(../../assets/flag.png);
}

.flag, .mine {
    background-size: contain;
    background-repeat: no-repeat;
}