@import 'mixins/basic-button';

.game-modes-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    visibility: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $shadow-color-sharp;
    color: $text-color-light;

    .game-mode-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 15px;
        border-radius: 5px;
        @extend .button;
        @include basicButton(light);

        span {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}