// global
$background-color: rgb(60, 60, 60);
$text-color-light: rgb(255, 255, 255);
$text-color-dark: rgb(0, 0, 0);
$shadow-color-soft: rgba(0, 0, 0, 0.25);
$shadow-color-normal: rgba(0, 0, 0, 0.5);
$shadow-color-sharp: rgba(0, 0, 0, 0.75);
$shadow-color-solid: rgb(0, 0, 0);
$button-color-light: rgb(255, 255, 255);
$button-color-dark: rgb(0, 0, 0);

// map
$field-base-color: rgb(40, 40, 40);
$field-revealed-color: rgb(100, 100, 100);
$map-border-color: rgb(255, 255, 255);
$clicked-bomb-color: rgb(255, 0, 0);
$number-colors: 
rgb(0, 0, 0),
rgb(255, 255, 255),
rgb(0, 255, 255),
rgb(255, 0, 255),
rgb(255, 255, 0),
rgb(0, 0, 255),
rgb(0, 255, 0),
rgb(255, 0, 0);

// results
$results-color: rgb(60, 60, 60);
$results-border-color: rgb(200, 200, 200);
$results-win-text-color: rgb(255, 215, 0);
$results-fail-text-color: rgb(255, 0, 0);